* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-size: 15px;
    font-family: BM Space, Verdana, Geneva, Tahoma, sans-serif;
    background-color: #6d9ac7;
}

nav {
    display: flex;
    background-color: rgb(18,105,204);
    width: 100%;
    height: 60px;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    color: white;
}

ul {
    list-style: none;
}

li {
    cursor: pointer;
    font-size: 1rem;
    display: inline-block;
    margin: 1rem;
}

section {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.about {
    flex-direction: row;
    justify-content: space-evenly;
    text-align: left;
    padding: 0 5%;
}

.about #about-info {
    max-width: 50%;
}

a {
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
    transition: 0.3s ease;
    display: inline-block;
    margin-top: 1rem;
}

a:hover {
    color: #112769;
    transform: scale(1.1);
}

.projects {
    background-color: #6d84c7;
    color: black;
}

.about {
    background-color: rgb(109,154,199);
    color: black;
    font-size: 3rem;
}

.contact {
    background-color: #00aae4;
    color: black;
}

img {
    max-width: 50vh;
    height: auto;
}

p {
    font-size: 1.5rem;
    color: rgb(255, 255, 255);
}

.container h2, .container h4 {
    margin-bottom: 2rem;
    font-size: 3rem;
}

.container h2::after, .container h4::after {
    content: '';
    display: block;
    width: 60%;
    height: 8px;
    margin: 1rem auto 0;
}

.container h2::after {
    background-color: #112769;
}

.container h4::after {
    background-color: #1b3ea7;
}

.contact ul li {
    display: block;
    margin: 0.5rem 0;
}